<!doctype html>
<html lang="en" ng-app="ToDoListApp">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
  </head>

  <body ng-controller="ToDoListController as toDoCtrl">
    <div>

      <form ng-submit="toDoCtrl.addNewTask()">
        <input type="text" placeholder="Add new task here" ng-model="toDoCtrl.newTask">
        <input type="submit" id="createTaskButton" value="Add Task">
      </form>
      <ul class="list-group" ng-repeat="task in toDoCtrl.allTasks | filter:filterRule">

             <li>
             <input type="checkbox" id=markDone ng-model="task.done"/>
             <a href="#" editable-text="task.name">{{ task.name || "empty" }}</a>
             </li>
           </ul>

      <button id="showAllTasksButton" ng-click="filterRule = none">Show All Tasks</button>
      <button id="showActiveTasksButton" ng-click="filterRule = {done:false}">Show Active Tasks</button>
      <button id="showCompletedTasksButton" ng-click="filterRule = {done:true}">Show Completed Tasks</button>
      <button id="clearCompletedTasksButton" ng-click="toDoCtrl.clearCompletedTasks()">Clear Completed Tasks</button>
      <button id="clearAllTasksButton" ng-click="toDoCtrl.clearAllTasks()">Clear All Tasks</button>

    </div>
  </body>
</html>
